// Looking for color values? See [sass_dir]/_HEX_BANK.scss

$transition-speed-default: 380ms;

$base-font-size: 18px;
$base-font-size-mobile: 19px;
$base-font-size-laptop: 20px;
$base-font-size-desktop: 22px;

$small-font-size: $base-font-size * 0.9;
$base-line-height: 1.8;

$body-copy: $primary-color-light;
$body-copy-alt: $secondary-color-light;
$body-copy-alt-2: $secondary-color-alt;

$border-color: #454b4d;

$header-width-mq-desktop: 20%;
