// Looking for color values? See [sass_dir]/_HEX_BANK.scss

$transition-speed-default: 380ms;

$base-font-size: 18px;
$base-font-size-mobile: 18px;
$base-font-size-laptop: 19px;
$base-font-size-desktop: 20px;

$small-font-size: $base-font-size * 0.9;
$base-line-height: 2;

$body-copy: $primary-color-light;
$body-copy-alt: $secondary-color;
$body-copy-alt-2: $tertiary-color;

$border-color: $black-light;

$header-width-mq-desktop: 20%;

$max-code-table-hr-width: 780px;

$heading-1-base: 2.2rem;
$heading-2-base: 1.8rem;
$heading-3-base: 1.5rem;
$heading-4-base: 1.2rem;
$heading-5-base: 1.1rem;
$heading-6-base: 1.05rem;

$heading-multiplier-sm: 1.05;
$heading-multiplier-md: 1.1;
$heading-multiplier-lg: 1.2;
$heading-multiplier-xl: 1.6;
$heading-multiplier-xxl: 2.2;
