@font-face{
  font-family: 'Theano Modern';
  src: url('global/fonts/theanomodern-regular.eot');
  src: url('global/fonts/theanomodern-regular.eot?#iefix') format('embedded-opentype'),
       url('global/fonts/theanomodern-regular.woff') format('woff'),
       url('global/fonts/theanomodern-regular.ttf') format('truetype'),
       url('global/fonts/theanomodern-regular.svg#webfont') format('svg');
}
@font-face{
	font-family: 'Norwester';
	src: url('global/fonts/norwester.eot');
	src: url('global/fonts/norwester.eot?#iefix') format('embedded-opentype'),
	     url('global/fonts/norwester.woff') format('woff'),
	     url('global/fonts/norwester.ttf') format('truetype'),
	     url('global/fonts/norwester.svg#webfont') format('svg');
}

$base-font-family: 'Theano Modern', Times, "Times New Roman", serif;
$heading-font-family: 'Norwester', Times, "Times New Roman", serif;;
$monospace-font-family: "Inconsolata", monospace;
