// = exactly
h1[rel="external"] { color: red; }

// *= contains
h1[rel*="external"] { color: red; }

// ^= begins with
h1[rel^="external"] { color: red; }

// $= ends with
h1[rel$="external"] { color: red; }

// ~= space separated list
h1[rel~="external"] { color: red; }

// |= dash separated list
h1[rel|="external"] { color: red; }

// note: combinable
h1[rel="handsome"][title^="Important"] { color: red; }
