<header id="site-header">
	<a class="logo" href="{{ site.baseurl }}/">
		<span class="desktop-only">
			<img class="img-rollover" data-img="1" src="{{ site.baseurl }}/assets/images/logo-v3-with-cloud-distortion.png" alt="Sunflower Sea Star logo"/>
			<img class="img-rollover" data-img="2" src="{{ site.baseurl }}/assets/images/logo-v3-blurred.png" alt="Sunflower Sea Star logo"/>
		</span>
		<img class="mobile-only" src="{{ site.baseurl }}/assets/images/logo-v3-clean.png" alt="Sunflower Sea Star logo"/>
	</a>
	<a class="github" href="https://github.com/cozywigwam/cozywigwam.github.io" target="_blank">
		{% include icon-github.svg %}
	</a>
</header>
