@mixin margin-top-bottom($top-possibly-bottom: 0, $bottom: "") {
	@if $bottom = "" {
		margin-top: $top-possibly-bottom;
		margin-bottom: $top-possibly-bottom;
	} @else {
		margin-top: $top-possibly-bottom;
		margin-bottom: $bottom;
	}
}
@mixin margin-lr($left-possibly-right: 0, $right: "") {
	@if $right = "" {
		margin-left: $left-possibly-right;
		margin-right: $left-possibly-right;
	} @else {
		margin-left: $left-possibly-right;
		margin-right: $right;
	}
}
@mixin padding-top-bottom($top-possibly-bottom: 0, $bottom: "") {
	@if $bottom = "" {
		padding-top: $top-possibly-bottom;
		padding-bottom: $top-possibly-bottom;
	} @else {
		padding-top: $top-possibly-bottom;
		padding-bottom: $bottom;
	}
}
@mixin padding-lr($left-possibly-right: 0, $right: "") {
	@if $right = "" {
		padding-left: $left-possibly-right;
		padding-right: $left-possibly-right;
	} @else {
		padding-left: $left-possibly-right;
		padding-right: $right;
	}
}