// Looking for color values? See [sass_dir]/_HEX_BANK.scss

$base-font-size: 14px;
$small-font-size: $base-font-size * 0.9;
$base-line-height: 2;

$body-copy: $primary-color-light;
$body-copy-alt: $secondary-color-light;
$body-copy-alt-2: $secondary-color-alt;
//$body-copy-special: $tertiary-color;

$border-color: #454b4d;
