
.post-list {
	list-style: none;

	/*
	.index-content {
		h2 {
			margin: 0;
			padding-top: 0.5em;
			line-height: 1.4;
		}
		h3 {
			margin: 0;
			color: $body-copy-alt-2;
			font-size: 1.5em;
			line-height: 1.7;
		}
		span.post-meta {
			display: block;
			margin-bottom: 2em;
			font-family: $monospace-font-family;
			color: $body-copy-alt;
			font-size: 0.9em;
		}
	}
	*/
	.index-content + .index-content {
		margin-top: 4em;
	}
}
/**
 * Posts
 */
.post-header {
	h2 {
		margin: 0;
		padding-top: 0.5em;
		line-height: 1.4;
	}
	h3 {
		margin: 0;
		color: $body-copy-alt-2;
		font-size: 1.5em;
		line-height: 1.7;
	}
	span.post-meta {
		display: block;
		margin-bottom: 2em;
		font-family: $monospace-font-family;
		color: $body-copy-alt;
		font-size: 0.9em;
	}
}
