// Media-query variables common to many projects

$mobile: 600px;
$laptop: 800px;
$desktop: 1200px;


// Default variables used for site-agnostic mixins (..?)
//$default-transformation-speeds: 500ms;
