/*

  /\\ \\       /\\
/\\    /\\ /\  /\\
 /\\         /\/\ /\   /\\
   /\\    /\\  /\\   /\   /\\ /\\\\\
      /\\ /\\  /\\  /\\\\\ /\\
/\\    /\\/\\  /\\  /\
  /\\ \\  /\\   /\\   /\\\\
                                               /\\              /\\
                                               /\\   /\         /\\
   /\\       /\\   /\\ /\\     /\\     /\\\\ /\/\ /\      /\\\  /\\
 /\\  /\\  /\\  /\\ /\\  /\\ /\\  /\\ /\\      /\\  /\\ /\\     /\
/\\   /\\ /\\   /\\ /\\  /\\/\\    /\\  /\\\   /\\  /\\/\\      /\
/\\   /\\  /\\  /\\ /\\  /\\ /\\  /\\     /\\  /\\  /\\ /\\
  /\\ /\\\     /\\ /\\\  /\\   /\\    /\\ /\\   /\\ /\\   /\\\  /\\
            /\\

*/


// Media queries
@mixin media-query($min) {
	@media screen and (min-width: $min) {
		@content;
	}
}
@mixin mq($min) {
	@media screen and (min-width: $min) {
		@content;
	}
}
@mixin media-query-max($max) {
	@media screen and (max-width: $max - 1) {
		@content;
	}
}
@mixin mq-max($max) {
	@media screen and (max-width: $max - 1) {
		@content;
	}
}

// Common utilities
@mixin clearfix() {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}
@mixin vertical-align($position: relative) {
	.csstransforms & {
		position: $position;
		top: 50%;
		transform: translateY(-50%);
	}
}

// My shortcuts and helpers
@mixin absolute-right-top($right: 0, $top: 0) {
	position: absolute;
	right: $right;
	top: $top;
}
@mixin absolute-left-top($left: 0, $top: 0) {
	position: absolute;
	left: $left;
	top: $top;
}
@mixin absolute-left-bottom($left: 0, $bottom: 0) {
	position: absolute;
	left: $left;
	bottom: $bottom;
}

@mixin transition-basic($property: all, $duration: $transition-speed-default) {
	transition: $property $duration;
}
@mixin transition-s-curve($property: all, $duration: $transition-speed-default) {
	transition: $property $duration cubic-bezier(0.3, 0.8, 0.1, 0.95);
}






// in progress ones...

@mixin pseudo($w: 0, $h: 0, $display: block) {
	content: "";
	display: $display;
	width: $w;
	height: $h;
}
