header#site-header {
	padding: 100px 0;

	@include mq($desktop) {
		padding-top: 200px;
		float: left;
		width: 35%;
	}
	a.site-title {
		display: block;
		max-width: 300px;
		text-align: center;
		margin: 0 auto;
	}
}

