/**
 * Site header
 */
.site-header {
    // Positioning context for the mobile navigation icon
    position: relative;

    .topbar {
        height: 21px;
        background: #000;
    }
    .colorblock-blue {
        height: 175px;
    }
    .block-header-logo {
        @include colorblock-gray();

        .inner {
            @include inner-indent(100px);

            .logo-area {
                width: 30%;
                max-width: 200px;
                border: 1px solid magenta;

                a {
                    display: block;

                    img {
                        width: 100%;
                    }
                }
                span {
                    color: $gray-copy;
                }
            }
        }
    }
    .block-header-nav {
        @include colorblock-purple();

        .inner {
            @include inner-indent(100px);

            ul {
                list-style: none;
                margin: 0;
                padding: 0;

                li {
                    a {
                        color: $light-gray-copy;
                    }
                }
            }
        }
    }

}

