
/* -------- */
// HEX BANK
/* -------- */
// IF IT'S A HEX,
// AND IT AIN'T #FFF,
// AND IT AIN'T #000,
// HIT UP HEX BANK
/* -------- */

$primary-color: #cad8e0;
$primary-color-light: lighten($primary-color, 4%);

$secondary-color: #ff966f;
$secondary-color-light: #ff966f;
$secondary-color-alt: #ac6b54;

$tertiary-color: #7694a8;

$quarternary-color: #6b5155; // rgb 107, 81, 85


$background-color: #2d3132;
$background-color-alt: darken($background-color, 2.5%); // #272a2b, rgb(39, 42, 43)
$background-color-alt-2: lighten($background-color, 1%);

/* -------- */
// HEX BANK
/* -------- */
// IF IT'S A HEX,
// AND IT AIN'T NAH,
// AIN'T IN HEX BANK,
// HEX BANK GET MAD
/* -------- */
