
/* -------- */
// HEX BANK
/* -------- */
// IF IT'S A HEX,
// AND IT AIN'T #FFF,
// AND IT AIN'T #000,
// HIT UP HEX BANK
/* -------- */

$primary-color: #dcdcdc;
$primary-color-light: lighten($primary-color, 8%);

$secondary-color: #d6fcba; // light green
$secondary-color-light: #ff966f;
$secondary-color-alt: #ac6b54;

$tertiary-color: #c2e3ff; // light blue

$quarternary-color: #ffc6ff;


$background-color: #292d35;

/* -------- */
// HEX BANK
/* -------- */
// IF IT'S A HEX,
// AND IT AIN'T NAH,
// AIN'T IN HEX BANK,
// HEX BANK GET MAD
/* -------- */
