
/* -------- */
// HEX BANK
/* -------- */
// IF IT'S A HEX,
// AND IT AIN'T #FFF,
// AND IT AIN'T #000,
// HIT UP HEX BANK
/* -------- */

$primary-color: #a0d1f0;
$primary-color-light: #a0d1f0;

$secondary-color: #ff966f;
$secondary-color-light: #ff966f;
$secondary-color-alt: #ac6b54;

$tertiary-color: lightgreen;


$background-color: #2d3132;
$background-color-alt: #272a2b;

/* -------- */
// HEX BANK
/* -------- */
// IF IT'S A HEX,
// AND IT AIN'T NAH,
// AIN'T IN HEX BANK,
// HEX BANK GET MAD
/* -------- */
