/* ---------------- */
/* ---------------- */
.META {
	position: absolute;
	bottom: 0;
	left: 0;
}
[class*="meta"] {
	opacity: 0.2;
	font-family: monospace;
}

/* ---------------- */
body, html {
	height: 100%;
	padding: 0;
	margin: 0;
}
/* ---------------- */
/* ---------------- */

@import "../../site-agnostic/_site-agnostic-variables.scss";
@import "../../site-agnostic/_site-agnostic-mixins.scss";

@mixin rect($width: 100px, $height: 100px, $background: #000) {
	width: $width;
	height: $height;
	background: $background;
}


[data-project-namespace="miniproject-1_animation-test"] {
	.rect-loop-left {
		@include rect();
		@include absolute-left(100px, 100px);
	}
	.rect-loop-right {
		width: 100px;
		height: 100px;
		background: red;
	}

}
