$code-variable: #e4b3e5;
$code-secondary-color: #ffbca3;
$code-primary-color: #dae1e5;
$code-primary-color-light: lighten($code-primary-color, 8%);
$code-primary-color-dark: #c2c8cc;

code, pre  {
	color: $code-primary-color;
}
.highlight  {
	.c { color: $code-primary-color-dark; } // Comment
	.err { color: #e37170; } // Error
	.g { color: #7f9f7f; } // Generic
	.k { color: #e5baac; } // Keyword
	.l { color: #ccc; } // Literal
	.n { color: #ccd4db; } // Name
	.o { color: #d5dbe0; } // Operator
	.x { color: #00f; } // ?
	.p { color: $code-primary-color; } // Punctuation
	.cm { color: #7f9f7f; } // Comment.Multiline
	.cp { color: #7f9f7f; } // Comment.Preproc
	.c1 { color: $code-primary-color-dark; } // Comment.Single
	.cs { color: #629755 } // Comment.Special
	.gd { color: #a9b7c6; } // Generic.Deleted
	.ge { color: #ccc; font-style:italic; } // Generic.Emph
	.gr { color:red; } // Generic.Error
	.gh { color: #88be05; } // Generic.Heading
	.gi { color: #88be05; } // Generic.Inserted
	.go { color: #808072; } // Generic.Output
	.gp { color: #ccd4db; font-weight:bold; } // Generic.Prompt
	.gs { color: #808072; font-weight:bold; } // Generic.Strong
	.gu { color: #a9b7c6; font-weight:bold; } // Generic.Subheading
	.gt { color: #8080a2; } // Generic.Traceback
	.kc { color: #dca3a3; }
	.kd { color: #ffff86; }
	.kn { color: #dfaf8f; font-weight:bold; }
	.kp { color: #cdcf99; }
	.kr { color: #cdcd00; }
	.kt { color: #00cd00; }
	.ld { color: $code-primary-color-dark; }
	.m { color: $tertiary-color; } // Literal.Number
	.na { color: #b3c7b5; } // Name.Attribute
	.nb { color: #e8ab97; } // Name.Builtin
	.nc { color: #e8ab97; } // Name.Class
	.no { color: #ccc; } // Name.Constant
	.nd { color: #ccc; } // Name.Decorator
	.ni { color: #c28182; } // Name.Entity
	.ne { color: #c3bf9f; font-weight:bold; } // Name.Exception
	.nf { color: $code-secondary-color; } // Name.Function
	.nl { color: #ccc; } // Name.Label
	.nn { color: #8fbede; } // Name.Namespace
	.nx { color: #ccc; } // Name.Other
	.py { color: #ccc; } // Name.Property
	.nt { color: $code-secondary-color; } // Name.Tag
	.nv { color: $code-variable; } // Name.Variable
	.ow { color: #d5dbe0; } // Operator.Word
	.w { color: #ccc; } // Text.Whitespace
	.mf { color: $tertiary-color; } // Literal.Number.Float
	.mh { color: $tertiary-color; } // Literal.Number.Hex
	.mi { color: $tertiary-color; } // Literal.Number.Integer
	.mo { color: $tertiary-color; } // Literal.Number.Oct
	.s { color: $code-primary-color-light; } // Literal.String
	.sb { color: $code-primary-color-dark; } // Literal.String.Backtick
	.sc { color: $code-primary-color-dark; } // Literal.String.Char
	.sd { color: $code-primary-color-dark; } // Literal.String.Doc
	.s2 { color: $code-primary-color-dark; } // Literal.String.Double
	.se { color: $code-primary-color-dark; } // Literal.String.Escape
	.sh { color: $code-primary-color-dark; } // Literal.String.Heredoc
	.si { color: $code-primary-color-dark; } // Literal.String.Interpol
	.sx { color: $code-primary-color-light; } // Literal.String.Other
	.sr { color: $code-primary-color-dark; } // Literal.String.Regex
	.s1 { color: $code-primary-color-dark; } // Literal.String.Single
	.ss { color: $code-primary-color-dark; } // Literal.String.Symbol
	.bp { color: #e8ab97; } // Name.Builtin.Pseudo
	.vc { color: lighten($code-variable, 5%); } // Name.Variable.Class
	.vg { color: $code-variable; } // Name.Variable.Global
	.vi { color: darken($code-variable, 5%); } // Name.Variable.Instance
	.il { color: $tertiary-color; }
}
