@import url('https://fonts.googleapis.com/css?family=Anton|Josefin+Sans:400,400i,700,700i|Source+Code+Pro');

  html {
    background: #26282a;
  }
  body {
    margin: 0;
    font-family: 'Josefin Sans', 'Helvetica Neue', Helvetica, Trebuchet, Tahoma, Arial, sans-serif;

      font-size: 16px;

    line-height: 1.6;
    color: #f1f1f1;
    background: #26282a;
  }
  @media (min-width: 768px) {

    body{
        font-size: 16px;
    }
}
  @media (min-width: 992px) {

    body{
        font-size: 16.8px;
    }
}
  @media (min-width: 1200px) {

    body{
        font-size: 17.28px;
    }
}
  @media (min-width: 1400px) {

    body{
        font-size: 17.6px;
    }
}
  @media (min-width: 1900px) {

    body{
        font-size: 17.92px;
    }
}

  table + p, pre + p, ul + p {
    margin-top: 2.5em;
  }

  a {
    text-decoration: none;
    color: #fffed5;
  }

  a:hover {
    color: #fe978b;
}

  a:visited {
  }

  a:active {
    color: #ffc6ff;
}

  img {
    display: block;
    padding: 1em 0 2.5em;
    max-width: 100%;
  }
  blockquote {
    margin-left: 0;
    margin-bottom: 2rem;
    padding: 0.5rem 0 0.5rem 2rem;

      font-size: 14px;

    font-style: italic;
    border-left: 1px solid #fffed5;
  }
  @media (min-width: 768px) {

    blockquote{
        font-size: 14px;
    }
}
  @media (min-width: 992px) {

    blockquote{
        font-size: 14.700000000000001px;
    }
}
  @media (min-width: 1200px) {

    blockquote{
        font-size: 15.120000000000001px;
    }
}
  @media (min-width: 1400px) {

    blockquote{
        font-size: 15.400000000000002px;
    }
}
  @media (min-width: 1900px) {

    blockquote{
        font-size: 15.680000000000001px;
    }
}

  table {
    border-collapse: collapse;
    margin-bottom: 2rem;
    background: #202224;
    width: 100%;
    border-bottom: 2px solid #ffc6ff;
  }
  thead {
  }
  th {
    padding: 0 1rem;
    color: #555;

      font-size: 11px;

    font-weight: normal;
  }
  @media (min-width: 768px) {

    th{
        font-size: 11px;
    }
}
  @media (min-width: 992px) {

    th{
        font-size: 11.55px;
    }
}
  @media (min-width: 1200px) {

    th{
        font-size: 11.88px;
    }
}
  @media (min-width: 1400px) {

    th{
        font-size: 12.100000000000001px;
    }
}
  @media (min-width: 1900px) {

    th{
        font-size: 12.32px;
    }
}
  @media (min-width: 768px) {

    th{
        padding: 0 1.2rem;
    }
}
  @media (min-width: 992px) {

    th{
        padding: 0 1.3rem;
    }
}
  @media (min-width: 1200px) {

    th{
        padding: 0 1.4rem;
    }
}
  th + th {
    border-left: 1px solid #3a3a3a;
  }
  td {
    padding: 0.5rem 1rem;
    line-height: 1.8;
    border: 1px solid #3a3a3a;
    text-align: left;

      font-size: 14px;
  }
  @media (min-width: 768px) {

    td{
        font-size: 14px;
    }
}
  @media (min-width: 992px) {

    td{
        font-size: 14.700000000000001px;
    }
}
  @media (min-width: 1200px) {

    td{
        font-size: 15.120000000000001px;
    }
}
  @media (min-width: 1400px) {

    td{
        font-size: 15.400000000000002px;
    }
}
  @media (min-width: 1900px) {

    td{
        font-size: 15.680000000000001px;
    }
}
  @media (min-width: 768px) {

    td{
        padding: 0.5rem 1.2rem;
    }
}
  @media (min-width: 992px) {

    td{
        padding: 0.6rem 1.3rem;
    }
}
  @media (min-width: 1200px) {

    td{
        padding: 0.6rem 1.4rem;
    }
}
  td:first-child {
    min-width: 120px;
  }

  /*
   * Three types of code...
   */
  code {
    margin: 0 3px;
    padding: 5px 6px;
    font-family: 'Source Code Pro', monospace;

      font-size: 14px;

    background: #202224;
    border-right: 2px solid #3a3a3a;
    border-bottom: 2px solid #3a3a3a;
  }
  @media (min-width: 768px) {

    code{
        font-size: 14px;
    }
}
  @media (min-width: 992px) {

    code{
        font-size: 14.700000000000001px;
    }
}
  @media (min-width: 1200px) {

    code{
        font-size: 15.120000000000001px;
    }
}
  @media (min-width: 1400px) {

    code{
        font-size: 15.400000000000002px;
    }
}
  @media (min-width: 1900px) {

    code{
        font-size: 15.680000000000001px;
    }
}
  table code {
    padding: 4px 5px !important;
    background: #26282a;
    border-right: 1px solid #3a3a3a;
    border-bottom: 1px solid #3a3a3a;

      font-size: 13px;

  }
  @media (min-width: 768px) {

    table code{
        font-size: 13px;
    }
}
  @media (min-width: 992px) {

    table code{
        font-size: 13.65px;
    }
}
  @media (min-width: 1200px) {

    table code{
        font-size: 14.040000000000001px;
    }
}
  @media (min-width: 1400px) {

    table code{
        font-size: 14.3px;
    }
}
  @media (min-width: 1900px) {

    table code{
        font-size: 14.560000000000002px;
    }
}
  table td > code:first-child {
    margin-left: 0;
    padding-left: 0;
  }

  pre {
    overflow-x: auto;
    margin-top: 2.2em;
    padding: 16px 20px 20px;

      font-size: 13px;

    background: #202224;
    border: 1px solid #3a3a3a;
    border-bottom: 2px solid #fe978b;
  }

  @media (min-width: 768px) {

    pre{
        font-size: 13px;
    }
}

  @media (min-width: 992px) {

    pre{
        font-size: 13.65px;
    }
}

  @media (min-width: 1200px) {

    pre{
        font-size: 14.040000000000001px;
    }
}

  @media (min-width: 1400px) {

    pre{
        font-size: 14.3px;
    }
}

  @media (min-width: 1900px) {

    pre{
        font-size: 14.560000000000002px;
    }
}

  @media (min-width: 768px) {

    pre{
        padding: 28px 30px;
    }
}
  pre code {
    margin: 0;
    padding: 0;

      font-size: 12px;

    line-height: 1.8;
    background: none;
    border: 0;
  }
  @media (min-width: 768px) {

    pre code{
        font-size: 12px;
    }
}
  @media (min-width: 992px) {

    pre code{
        font-size: 12.600000000000001px;
    }
}
  @media (min-width: 1200px) {

    pre code{
        font-size: 12.96px;
    }
}
  @media (min-width: 1400px) {

    pre code{
        font-size: 13.200000000000001px;
    }
}
  @media (min-width: 1900px) {

    pre code{
        font-size: 13.440000000000001px;
    }
}



  pre + p,
  pre + ul,
  pre + ol,
  pre + blockquote,
  pre + table {
    //: 3.2rem;
  }
  blockquote pre {
    margin-top: 0.2rem;
    margin-bottom: 0.6rem;
    border-bottom: 2px solid #c2e3ff
  }
  blockquote code {

      font-size: 13px;

  }
  @media (min-width: 768px) {

    blockquote code{
        font-size: 13px;
    }
}
  @media (min-width: 992px) {

    blockquote code{
        font-size: 13.65px;
    }
}
  @media (min-width: 1200px) {

    blockquote code{
        font-size: 14.040000000000001px;
    }
}
  @media (min-width: 1400px) {

    blockquote code{
        font-size: 14.3px;
    }
}
  @media (min-width: 1900px) {

    blockquote code{
        font-size: 14.560000000000002px;
    }
}
  blockquote p:first-child {
    margin-top: 0;
  }
  blockquote p:last-child {
    margin-bottom: 0.3rem;
  }
  pre + blockquote {
    margin-top: 3rem;
  }
  table + table,
  pre + pre {
    //: 4rem;
  }




  h1, h2, h3, h4, h5, h6 {
    margin: 4em 0 1em;
    font-family: 'Anton', sans-serif;
    font-weight: normal;
    line-height: 1.8;
    letter-spacing: 0.05em;
    -webkit-font-smoothing: antialiased;
    cursor: default;
  }




  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    cursor: pointer;
}

  h1 {

      font-size: 28px;

    color: #f1f1f1;
  }

  @media (min-width: 768px) {

    h1{
        font-size: 29.400000000000002px;
    }
}

  @media (min-width: 992px) {

    h1{
        font-size: 30.240000000000002px;
    }
}

  @media (min-width: 1200px) {

    h1{
        font-size: 30.800000000000004px;
    }
}

  @media (min-width: 1400px) {

    h1{
        font-size: 33.6px;
    }
}

  @media (min-width: 1900px) {

    h1{
        font-size: 36.4px;
    }
}
  h2 {

      font-size: 25px;

    color: #c2e3ff;
  }
  @media (min-width: 768px) {

    h2{
        font-size: 26.25px;
    }
}
  @media (min-width: 992px) {

    h2{
        font-size: 27px;
    }
}
  @media (min-width: 1200px) {

    h2{
        font-size: 27.500000000000004px;
    }
}
  @media (min-width: 1400px) {

    h2{
        font-size: 30px;
    }
}
  @media (min-width: 1900px) {

    h2{
        font-size: 32.5px;
    }
}
  h3 {

      font-size: 22px;

    color: #d6fcba;
  }
  @media (min-width: 768px) {

    h3{
        font-size: 23.1px;
    }
}
  @media (min-width: 992px) {

    h3{
        font-size: 23.76px;
    }
}
  @media (min-width: 1200px) {

    h3{
        font-size: 24.200000000000003px;
    }
}
  @media (min-width: 1400px) {

    h3{
        font-size: 26.4px;
    }
}
  @media (min-width: 1900px) {

    h3{
        font-size: 28.6px;
    }
}
  h4 {

      font-size: 18px;

    color: #fffed5;
  }
  @media (min-width: 768px) {

    h4{
        font-size: 18.900000000000002px;
    }
}
  @media (min-width: 992px) {

    h4{
        font-size: 19.44px;
    }
}
  @media (min-width: 1200px) {

    h4{
        font-size: 19.8px;
    }
}
  @media (min-width: 1400px) {

    h4{
        font-size: 21.599999999999998px;
    }
}
  @media (min-width: 1900px) {

    h4{
        font-size: 23.400000000000002px;
    }
}
  h5 {

      font-size: 17px;

    color: #c0e9f8;
  }
  @media (min-width: 768px) {

    h5{
        font-size: 17.85px;
    }
}
  @media (min-width: 992px) {

    h5{
        font-size: 18.36px;
    }
}
  @media (min-width: 1200px) {

    h5{
        font-size: 18.700000000000003px;
    }
}
  @media (min-width: 1400px) {

    h5{
        font-size: 20.4px;
    }
}
  @media (min-width: 1900px) {

    h5{
        font-size: 22.1px;
    }
}
  h6 {

      font-size: 16px;

  }
  @media (min-width: 768px) {

    h6{
        font-size: 16.8px;
    }
}
  @media (min-width: 992px) {

    h6{
        font-size: 17.28px;
    }
}
  @media (min-width: 1200px) {

    h6{
        font-size: 17.6px;
    }
}
  @media (min-width: 1400px) {

    h6{
        font-size: 19.2px;
    }
}
  @media (min-width: 1900px) {

    h6{
        font-size: 20.8px;
    }
}
  table + h1, p + h1, ul + h1 {
    margin-top: 3.4em;
  }
  table + h2, p + h2, ul + h2, pre + h2,
  table + h3, p + h3, ul + h3, pre + h3,
  table + h4, p + h4, ul + h4, pre + h4,
  table + ul, ul + table, table + pre, pre + table, pre + ul, ul + pre {
    margin-top: 2em;
  }
  h1 + h2, h2 + h3, h3 + h4, h4 + h5, h5 + h6 {
    margin-top: 0;
  }

.pull-right {
  float: right;
}
img.pull-right {
  margin: 0 0 1em 1em;
  padding: 0;
}

  .table-cyan table {
    border-bottom: 2px solid #c0e9f8 !important;
  }
  .table-green table {
    border-bottom: 2px solid #d6fcba !important;
  }


  .u-text-align--center {
    text-align: center;
  }


.fJzhYi {
  max-width: 800px;
  padding: 10% 3% 12%;
  ;
 }
@media (min-width: 1200px) {
  .fJzhYi {
    padding-left: 20%;
  ;
  }
  ;
}
.chnwDT {
  width: 90%;
  height: 1px;
  margin: 10% auto 15% 0;
  background: #ffc6ff;
  border-bottom: 1px solid #c2e3ff;
 }
.lgDIIX {
  max-width: 800px;
  padding: 0 3% 8%;
 }
@media (min-width: 1200px) {
  .lgDIIX {
    padding-left: 20%;
  }
}
.lgDIIX img {
  padding: 0;
}
.dgTzCp {
  height: 60px;
 }
.dgTzCp img {
  padding: 0;
}
.hoYstG {
  position: fixed;
  top: -80px;
  right: 16px;
  display: block;
  transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
 }
.dAfQaC {
  display: inline-block;
  margin: 10% auto 22%;
  padding: 2.6em 7em;
  color: #c2e3ff;
  font-size: 15px;
 }
.dAfQaC:hover {
  color: #26282a;
  background: #ffc6ff;
}
.kruepF {
  ;
 }.hpccxn {
  color: #f1f1f1;;
 }
.dJgZkq {
  font-size: 27px;
  text-decoration: underline;
 }


.pqVjf {
  padding-bottom: 60px;
 }
.gUGVTz {
  color: #f1f1f1;
  margin: 0.4em 0 0.02em;
  line-height: 1.4;
 }
.hDdJY {
  margin: 0 0 0.02em;
  line-height: 1.4;
