@font-face {
  font-family: 'iosevka term ss09';
  src: url('iosevka-term-ss09-regular-webfont.woff2') format('woff2'),
    url('iosevka-term-ss09-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@keyframes fade-to-black {
  from {
    background: #fff;
  }
  to {
    background: #222;
  }
}
body {
  margin: 0;
  font-family: 'Vollkorn', serif;
  font-size: 13px;
  color: #222;
  animation: fade-to-black 3s 5s forwards;
}
@media (min-width: 400px) {
  body {
    font-size: 13px;
  }
}
@media (min-width: 992px) {
  body {
    font-size: 14px;
  }
}
@media (min-width: 1080px) {
  body {
    font-size: 15px;
  }
}

/* type & general html */

h1,
h2 {
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  font-weight: 300;
}
h3,
h4 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}
p {
  line-height: 1.7;
  margin-bottom: 1.7em;
}
a {
  cursor: pointer;
}
blockquote {
  margin: 0;
  padding: 1em;
  color: #666;
  font-style: italic;
  border-left: 1px solid #ccc;
}
svg {
  width: 20px;
}
img {
  width: 100%;
  padding-bottom: 3em;
}

.main {
  overflow: hidden;
}
.route-is-transitioning {
  pointer-events: none;
}

/* header */

.header {
  padding: 4vh;
  background: #222;
}
.header .title {
  position: relative;
  color: #666;
  font-size: 1.4em;
  font-weight: 300;
  letter-spacing: 0.1em;
  margin: 0 0 0.3em;
  cursor: default;
  background: -webkit-linear-gradient(267deg, #d0d0ff, #333);
  filter: drop-shadow(1px 1px 0px #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (min-width: 768px) {
  .header .title {
    margin-bottom: 0.5em;
  }
}
.header .left {
  flex: 1;
}
.header .links-container {
  display: grid;
  grid-template-columns: 50% 50%;
  max-width: 260px;
}
.link {
  text-decoration: none;
}
@media (min-width: 768px) {
  .header .links-container {
    max-width: none;
    display: flex;
  }
  .header .link {
    padding: 0.5em 1.2em 0.5em 0;
  }
}
.header .link:last-child {
  display: none;
}
.header .right {
  display: grid;
  grid-template-columns: 50% 50%;
}

/* footer */

.footer {
  padding: 2vh;
  background: #222;
}
.footer .left {
  flex: 1;
}
.footer .links-container {
  display: grid;
  grid-template-columns: 50% 50%;
  max-width: 260px;
}
@media (min-width: 768px) {
  .footer .links-container {
    max-width: none;
    display: flex;
  }
  .footer .link {
    align-self: center;
    padding: 0.8em 1.2em 0.8em 0;
  }
}
.footer .right {
  display: grid;
  grid-template-columns: 50% 50%;
}
@media (min-width: 768px) {
  .footer .right {
    max-width: none;
    display: flex;
  }
}

.svg-link {
  align-self: center;
  padding: 3px 8px;
}
.svg-link svg {
  fill: #666;
  transition: all 0.2s cubic-bezier(0.3, 0.8, 0.1, 0.95);
}
.svg-link:hover svg {
  fill: #999;
}
svg.soundcloud {
  width: 25px;
}
svg.sinistrocular {
  stroke: #999;
  width: 18px;
}
.svg-link:hover svg.sinistrocular {
  stroke: #ccc;
}

.content-backdrop {
  background: #fff;
}
.content {
  opacity: 1;
}
.content.route-is-transitioning-out {
  opacity: 0;
}

.iframe-container {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
@media (min-width: 768px) {
  .iframe-container {
    margin-bottom: 5em;
    text-align: right;
  }
}

.iframe {
  height: 100vh;
  width: 100%;
  border: 0;
}
.iframe-note {
  display: inline-block;
  max-width: none !important;
  margin: 0 auto;
  padding: 3px 3vw;
  font-size: 0.8em;
  color: #888;
  line-height: 1.4;
}
@media (min-width: 400px) {
  .iframe-note {
    font-size: 0.85em;
  }
}
@media (min-width: 768px) {
  .iframe-note {
    max-width: 60em;
    margin: 0;
    padding: 0 1vw;
  }
}
@media (min-width: 768px) {
  .about-iframe {
    max-width: 70vw;
  }
}
@media (min-width: 992px) {
  .about-iframe {
    max-width: 60vw;
  }
}
@media (min-width: 1080px) {
  .about-iframe {
    max-width: 50vw;
  }
}

.content-inner {
  padding: 3.4em 4vh 6em 3vh;
}
@media (min-width: 400px) {
  .content-inner {
    padding: 3.4em 5vh 6em 4vh;
  }
}
@media (min-width: 768px) {
  .content-inner {
    width: 50em;
    margin: 0 auto;
    padding: 3.4em 0 6em 0;
  }
}
.content h1,
.content h2,
.content h3,
.content p {
  max-width: 40em;
}

/* about */
@media (min-width: 768px) {
  .content p:first-child {
    padding-top: 6em;
  }
}

.content h1 {
  margin: 0 0 1.5em;
  font-size: 1.5em;
}
.content h2 {
  margin: 0 0 1.6em;
  font-size: 1.5em;
  text-shadow: 1px 1px 0px #ccc;
}
.content h3 {
  margin: 3em 0 1.5em;
  text-shadow: 1px 1px 0px #eee;
}
.content p.note {
  margin: -0.3em 0 3em;
  font-size: 0.8em;
  max-width: 50em;
  line-height: 1.4;
}
.center {
  text-align: center;
}

pre {
  position: relative;
  font-size: 0.6em;
  max-width: 80em;
}
@media (min-width: 1080px) {
  pre {
    font-size: 0.7em;
  }
}
pre span.code-label {
  position: absolute;
  top: 0.6em;
  right: 0.9em;
  font-size: 0.95em;
  font-family: 'Lato', sans-serif;
  color: #666;
}
code {
  padding: 0.8em 3em 2.6em 2.2em !important;
  font-family: 'iosevka term ss09', Menlo, 'Andale Mono', monospace;
  line-height: 1.6;
}
@media (min-width: 400px) {
  padding: 1em 3em 2.8em 3.2em !important;
}

/* fade */

.fade-in-1 {
  transition: opacity 1.4s ease-in-out;
  opacity: 0;
}
.fade-in-2 {
  transition: opacity 8s ease-in-out;
  opacity: 0;
}
.has-initially-loaded,
.has-initially-loaded .fade-in-1,
.has-initially-loaded .fade-in-2 {
  opacity: 1;
}

/* stand-alone */

.link {
  display: inline-block;
  padding: 0.3em 0;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: 300;
  color: #666;
  letter-spacing: 0.15em;
  transition: color 0.2s cubic-bezier(0.3, 0.8, 0.1, 0.95);
}
.link-dark-bg {
  display: block;
}
.link-dark-bg:hover {
  color: #999;
}
.content-link {
  margin: 4em 0 3em;
  padding: 1.5em 2em 1.7em;
  text-decoration: none;
  border-top: 0.5px solid #ddd;
  border-bottom: 0.5px solid #ddd;
}
.content-link:hover {
  color: #000;
}

/* helpers */

.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
