body {
  margin: 0;
  font-family: 'Vollkorn', serif;
  font-size: 13px;
  color: #222;
}
@media (min-width: 400px) {
  body {
    font-size: 13px;
  }
}
@media (min-width: 992px) {
  body {
    font-size: 14px;
  }
}
@media (min-width: 1080px) {
  body {
    font-size: 15px;
  }
}

h1,
h2 {
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  font-weight: 300;
}
h3,
h4 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}
p {
  line-height: 1.7;
  margin-bottom: 1.7em;
}
a {
  cursor: pointer;
}
blockquote {
  margin: 0;
  padding: 1em;
  color: #666;
  font-style: italic;
  border-left: 1px solid #ccc;
}
svg {
  width: 20px;
}
img {
  width: 100%;
  padding-bottom: 3em;
}

.main {
  overflow: hidden;
}

.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

/* header */

.header {
  padding: 4vh 4vh 4vh 4vh;
  background: #222;
}

.header .title {
  color: #666;
  font-size: 1.4em;
  font-weight: 300;
  letter-spacing: 0.1em;
  margin: 0 0 0.3em;
  text-shadow: 1px 1px 0px #444;
  cursor: default;
}
@media (min-width: 768px) {
  .header .title {
    margin-bottom: 0.5em;
  }
}

.header .left {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.links-container {
  display: grid;
  grid-template-columns: 50% 50%;
  max-width: 260px;
}
@media (min-width: 768px) {
  .links-container {
    max-width: none;
    display: flex;
  }
}

.header .link {
  display: block;
}
.stand-alone,
.header .link {
  display: inline-block;
  padding: 0.3em 0;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: 300;
  color: #666;
  letter-spacing: 0.15em;
  transition: color 0.2s cubic-bezier(0.3, 0.8, 0.1, 0.95);
}
@media (min-width: 768px) {
  .header .link {
    padding: 0 1.2em 0 0;
  }
}
.header .link:hover {
  color: #999;
}

.header .right {
  display: grid;
  grid-template-columns: 50% 50%;
}

.svg-link {
  display: flex;
  align-self: center;
  height: 100%;
  padding: 3px 8px;
}
.svg-link svg {
  fill: #666;
  transition: all 0.2s cubic-bezier(0.3, 0.8, 0.1, 0.95);
}
.svg-link:hover svg {
  fill: #999;
}
svg.soundcloud {
  width: 25px;
}
svg.sinistrocular {
  stroke: #999;
  width: 18px;
}
.svg-link:hover svg.sinistrocular {
  stroke: #ccc;
}

.content {
  opacity: 1;
}
.content.route-is-changing {
  opacity: 0;
}

.iframe-container {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
@media (min-width: 768px) {
  .iframe-container {
    margin-bottom: 5em;
    text-align: right;
  }
}

.iframe {
  height: 80vh;
  width: 100%;
  border: 0;
}
.iframe-note {
  display: inline-block;
  max-width: none !important;
  margin: 0 auto;
  padding: 3px 3vw;
  font-size: 0.8em;
  color: #888;
  line-height: 1.4;
}
@media (min-width: 400px) {
  .iframe-note {
    font-size: 0.85em;
  }
}
@media (min-width: 768px) {
  .iframe-note {
    max-width: 60em;
    margin: 0;
    padding: 0 1vw;
  }
}

.content-inner {
  padding: 3.4em 4vh 6em 3vh;
}
@media (min-width: 400px) {
  .content-inner {
    padding: 3.4em 5vh 6em 4vh;
  }
}
@media (min-width: 768px) {
  .content-inner {
    width: 50em;
    margin: 0 auto;
    padding: 3.4em 0 6em 0;
  }
}
.content h1,
.content h2,
.content h3,
.content p {
  max-width: 40em;
}

.content h1 {
  margin: 0 0 1.5em;
  font-size: 1.5em;
}
.content h2 {
  margin: 0 0 1.6em;
  font-size: 1.5em;
  text-shadow: 1px 1px 0px #ccc;
}
.content h3 {
  margin: 3em 0 1.5em;
  text-shadow: 1px 1px 0px #eee;
}
.content p.note {
  margin: -0.3em 0 3em;
  font-size: 0.8em;
  max-width: 50em;
  line-height: 1.4;
}
.content .stand-alone {
  margin-top: 1em;
  padding: 1.5em 2em;
  text-decoration: none;
}
.content .stand-alone:hover {
  color: #000;
}
.center {
  text-align: center;
}

pre {
  position: relative;
  font-size: 0.6em;
  max-width: 80em;
}
@media (min-width: 1080px) {
  pre {
    font-size: 0.7em;
  }
}
pre span.code-label {
  position: absolute;
  top: 0.6em;
  right: 0.9em;
  font-size: 0.95em;
  font-family: 'Lato', sans-serif;
  color: #666;
}
code {
  padding: 1em 3em 2.8em 3.2em !important;
  font-family: 'iosevka ss05', Menlo, 'Andale Mono', monospace;
  line-height: 1.6;
}

/* fade */

.fade-in-1 {
  transition: opacity 2.6s ease-in-out;
  opacity: 0;
}
.fade-in-2 {
  transition: opacity 8s ease-in-out;
  opacity: 0;
}
.has-initially-loaded,
.has-initially-loaded .fade-in-1,
.has-initially-loaded .fade-in-2 {
  opacity: 1;
}
