@import url('https://fonts.googleapis.com/css?family=Anton|Josefin+Sans:400,400i,700,700i|Source+Code+Pro');

:root {
  --gray: '#26282a',
  --gray-darker: '#202224',
  --gray-lighter: '#3a3a3a',
  --gray-lightest: '#555',
  --white: '#f1f1f1',
  --red: '#fe978b',
  --green: '#d6fcba',
  --yellow: '#fffed5',
  --blue: '#c2e3ff',
  --magenta: '#ffc6ff',
  --cyan: '#c0e9f8',
  --my-mixin: {
    color: var(--my-var);
    background: #ccc;
  }
}

body {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  background: var(--gray);
  font-family: 'Josefin Sans', 'Helvetica Neue', Helvetica, Trebuchet, Tahoma, Arial, sans-serif;
}
a {
  text-decoration: none;
  color: var(--yellow);
}
table code,
code {
  font-size: 13px !important;
}
hr {
  width: 90%;
  height: 1px;
  margin: 10em auto 5em 0;
  background: var(--magenta);
  border-bottom: 1px solid var(--blue);
}

.column {
  max-width: 42em;
  padding: 10vw 10vw 14vw;
  margin: 0 auto;
}

.heading-group {
  display: block;
  border: 3px solid transparent;
  cursor: pointer;
}
.heading-group h1 {
  margin: 0.4em 0 0.02em;
  line-height: 1.4;
}
.heading-group h2 {
  margin: 0 0 0.02em;
  line-height: 1.4;
}
a.heading-group:hover {
  cursor: pointer;
}
a.heading-group:hover h1 {
  color: var(--red);
  cursor: pointer;
}
a.heading-group:hover h2 {
  color: var(--magenta);
  cursor: pointer;
}
.heading-group + .heading-group {
  margin-top: 3em;
}

.return-arrow {
  display: inline-block;
  margin: 10% auto 22%;
  padding: 2.6em 7em;
  color: var(--blue);
  font-size: 15px;
}
.return-arrow:hover {
  color: var(--gray);
  background: var(--magenta);
}

.no-margin-top {
  margin-top: 0;
}
